<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание записи</title>
    <link rel="stylesheet" href="/static/post.css">
</head>
<body>
    <h1>Создание записи</h1>
    <form action="/create_post" method="POST" enctype="multipart/form-data">
        <div class="post_container">
            <textarea name="title" placeholder="Название">{{ name }}</textarea><br>
            <textarea name="text" placeholder="Текст">{{ text }}</textarea><br>
            <div class="form-group">
                <select class="form-control" id="classSelect" name="class">
                    <option>Животные</option>
                    <option>Личные переживания</option>
                    <option>Спорт</option>
                    <option>Искусство</option>
                    <option>Семейные разборки</option>
                    <option>Природа</option>
                </select>
            </div>
            <input type="file" name="audio" accept="audio/*">Аудио<br>
            <input type="file" name="photo" accept="image/*">Фото<br>
            <input type="text" name="warning" value="{{ warning_message }}" style="display: {{ 'block' if warning_message else 'none' }};" disabled>
            <button type="submit">Создать</button>
        </div>
    </form>
    <form action="/main">
        <button type="submit">Назад</button>
    </form>
</body>
</html>