<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание записи</title>
    <link rel="stylesheet" href="/static/style_1.css">
</head>
<body>
    <h1>Создание записи</h1>
    <form action="/register" method="POST">
        <input type="title" name="username" placeholder="Название"><br>
        <textarea name="text" placeholder="Текст"></textarea><br>
        <button type="submit">Создать</button>
    </form>
</body>
</html>
