<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание записи</title>
    <link rel="stylesheet" href="/static/style_1.css">
</head>
<body>
    <h1>Создание записи</h1>
    <form action="/create_post" method="POST" enctype="multipart/form-data">
        <input type="title" name="title" placeholder="Название"><br>
        <textarea name="text" placeholder="Текст"></textarea><br>
        <div class="form-group">
            <select class="form-control" id="classSelect" name="class">
                <option>Животные</option>
                <option>Личные переживания</option>
                <option>Спорт</option>
                <option>Искусство</option>
                <option>Семейные разборки</option>
            </select>
        </div>
        <input type="file" name="audio" accept="audio/*"><br>
        <input type="file" name="photo" accept="image/*"><br>
        <button type="submit">Создать</button>
    </form>
</body>
</html>
